%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Exif::Main' => {
      0xd000 => {
        Name => 'MLWIC2_speciesmodel_classID',
        Writable => 'int16u',
      },
      0xd001 => {
        Name => 'MLWIC2_speciesmodel_species',
        Writable => 'string',
      },
      0xd002 => {
        Name => 'MLWIC2_speciesmodel_confidence',
        Writable => 'rational64s',
      },
      0xd003 => {
        Name => 'MLWIC2_emptyanimalmodel_emptyID',
        Writable => 'int16u',
      },
      0xd004 => {
        Name => 'MLWIC2_emptyanimalmodel_answer',
        Writable => 'string',
      },
      0xd005 => {
        Name => 'MLWIC2_emptyanimalmodel_confidence',
        Writable => 'rational64s',
      },
      
    }
  )
